
dark = #303030
blue = #0BB1E4
red = #DB2020

body
  padding: 50px
  font: 14/1.6 "Helvetica Neue", Helvetica, sans-serif, arial
  color: dark

p code
li code
  border: 1px solid #eee
  padding: 1px 5px
  font: 12px monaco, monospace
  color: blue

pre
  padding: 20px
  border: 1px solid #eee
  code
    font: 12px monaco, monospace
    .string
      color: red
    .number
      color: blue
    .keyword
      font-weight: bold