html
  head
    title Dox - JavaScript documentation generator
    link(rel='stylesheet', href='../docs.css')
  body
    h1 Dox - JavaScript documentation generator
    - each comment in comments
      - if (comment.ignore || 'version' == comment.ctx.name)
        - continue
      .comment
        h2= comment.ctx.value
        .description!= comment.description.full
        pre
          code!= highlight(comment.code)