!!! 5
html
  head
    title #{options.title} documentation
    link(rel='stylesheet', href='public/main.css') 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src='public/main.js')
  body
    h1= options.title

    - if (options.description)
      .description!= markdown(options.description)

    - if (options.github)
      a.button(href='https://github.com/' + options.github) View Source

    ul#files.hide
      - each file in files
        li
          a(href=file.dest)= file.path  
