
@import 'stylus/vendor'
@import 'stylus/mixins'
@import 'stylus/buttons'

body
  font-family 'helvetica neue', helvetica, arial, sans-serif
  padding 50px

button
a.button
input[type=button]
  minimal-button()
