
@import 'nib'

smooth()
  -webkit-font-smoothing: antialiased

// globals

light = #e6e6e6
dark = #252525

// basics

body
  margin: 0
  font: 13px/1.4 'helvetica neue', helvetica, arial, sans-serif
  padding: 50px 120px
  smooth()

a
  color: dark
  text-decoration: none

h1
  margin: 15px 0
  font-size: 45px

.description
  margin-bottom: 30px

pre
  margin: 5px 15px
  padding: 10px

// buttons

button
a.button
input[type=button]
  bold-button(glow: #00E1FF)

// content

#content
  margin: 0 50px

// navigation

#files
  margin: 0
  fixed: top left
  padding: 10px 30px
  li
    list-style: none
    padding: 2px 0

// page styling

.filename
  font-size 12px

pre
  padding: 15px
  border: 1px solid light
  border-radius: 3px

p
  code
    padding: 3px 5px
    background: light