
@import 'nib'

smooth()
  -webkit-font-smoothing: antialiased

// globals

light = #e6e6e6
dark = #252525

// basics

body
  margin: 0
  font: 13px/1.4 'helvetica neue', helvetica, arial, sans-serif
  padding: 50px 120px
  smooth()

a
  color: dark
  text-decoration: none

h1
  margin: 15px 0
  font-size: 45px

.description
  margin-bottom: 30px

pre
  margin: 15px
  padding: 10px

// buttons

button
a.button
input[type=button]
  bold-button(glow: #00E1FF)

// content

#content
  margin: 0 50px

.comment
  position: relative
  padding-bottom: 15px
  border-bottom: 2px solid light
  .view-source
    absolute: bottom 5px right 5px
    padding: 3px 8px 5px 8px
  pre
    max-height: 300px
    overflow-y: auto

// navigation

#files
  margin: 0
  fixed: top left 20px
  padding: 10px 20px
  border: 1px solid light
  box-shadow: 0 0 2px 1px light
  border-radius: bottom 10px
  li
    list-style: none
    padding: 2px 0

// page styling

pre
  padding: 15px
  border: 1px solid light
  border-radius: 3px

p
  code
    padding: 3px 5px
    background: light